VITE_AUTH0_DOMAIN=dev-8nsu386inyln7qfs.us.auth0.com
VITE_AUTH0_CLIENT_ID=GY6Kct43jxy3gs2EaiGBWs5LcgjY3g7s
VITE_AUTH0_AUDIENCE=https://dev-8nsu386inyln7qfs.us.auth0.com/api/v2/
VITE_API_BASE_URL=http://localhost:8080/api
